<!DOCTYPE html>
<html>
<head><% include partials/template/head.ejs %></head>
<body class="<%= page %>">
    <% include partials/template/header.ejs %>
    <section class="layout">
        <div class="primary">
            <% include partials/content/aboutIntarsia.ejs %>
             <% include partials/content/whyIntarsia.ejs %>
             <% include partials/content/services.ejs %>
            <% include partials/content/intarsiaOnSocialMedia.ejs %>
            <% include partials/content/contact.ejs %>
            </div> <!--primary -->
            <aside class="secondary">
                <% include partials/content/nextexposition.ejs %>
                <% include partials/content/artworklist.ejs %>
                </aside> <!-- secondary-->
            </section>
            <% include partials/template/footer.ejs %>
            <% include partials/template/jsdefaults.ejs %>
        </body>
    </html>