<header>

         <div id="wrapper">
          <div class="branding">
                <a href="/">
                    <img src="/images/misc/logo2.png" alt="Intarsia Logo" >
                </a>
            </div>
        <div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="images/misc/intarsiaslider.jpg"data-transition="fade"/>
                <img src="images/misc/intarsiaslider1.jpg" data-transition="fade"  />
                <img src="images/misc/intarsiaslider2.jpg" data-transition="fade" />
                <img src="images/misc/intarsiaslider3.jpg" data-transition="fade" />
            </div>
        </div>
    </div>
    <script type="text/javascript" src="javascripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.nivo.slider.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
    <div class="navigation">
        <section class="layout">
            <ul class="nav">
                <li><a href="/"><i class="icon-home"></i> Home </a></li>
                <li><a href="/products"><i class="icon-archive"></i> Products </a></li>
            </ul>
        <div class="rightnav">
            <a href="/da"><img src="images/misc/danmarkflag.png"></a>
            <a href="/"><img src="images/misc/usaflag.png"></a>
        </section>
    </div>
</header>