<article id="aboutIntarsia">
  <h1>About the company</h1>
  <img class="compHus" src="images/misc/intarsiahus.jpg"/>
  <p>The old illustrious company Intarsia Ltd. from Ringe, which was established more than 100 years ago, continues with new owners.

Today it is a cabinetmaker and miniaturist Ursula Dyrbye - Skovsted, the company's Chief Executive, and continues the old traditional crafts where technical skills, accuracy and creativity form a synthesis.

Intarsia Ltd. is among the very few in Northern Europe who mastered the original post methods.

The company, with its old-fashioned craft methods and specialist knowledge solve problems that others in the industry - worldwide - had to give up to solve.</p>
</article><!-- article -->