<article id="aboutIntarsia">
  <h1>Om virksomheden?</h1>
  Den gamle hæderkronede virksomhed Intarsia ApS i Ringe, som blev etableret for mere end 100 år siden, fortsætter med nye ejere.

I dag er det møbelsnedker og miniaturist Ursula Dyrbye-Skovsted, der er virksomhedens daglige leder, og som viderefører det gamle traditionsrige kunsthåndværk, hvor faglig kunnen, akkuratesse og kreativitet går op i en højere enhed.

Intarsia ApS er blandt de ganske få i Nordeuropa, der mestrer de originale indlægsmetoder.

Virksomheden kan med sine gammeldags håndværksmetoder og specialviden løse opgaver, som andre i branchen – worldwide – har måttet opgive at løse.
</article><!-- article -->