<article class="artworklist">
    <h1>Personal miniature projects</h1>
    <p> In the gallery below you can see some of the projects that i have been manufacturing on my spare time. Click on the thumbnail to view it on the original size.</p>
    <div class="pixgrid">
        <% if(artwork.length > 0) { %>
            <% for(i=0; i <artwork.length;i++) { %>
                <img src="/images/artwork/<%= artwork[i] %>" alt="Artwork <%= i %>">
           <%  } %>
       <% } %>
    </div>
</article>