<article id="IntarsiaOnSocialMedia">
  <h1>Be a part of Intarsia</h1>
  <p>Hvis du ønsker at finde ud af om vores næste produkt, når vi arrangerer et åbent hus, eller når en udstilling vil finde sted, <a href="https://www.facebook.com/pages/Intarsia-Wood/451673361547494?fref=ts" target="_blank">join og like vores FaceBook side.</a></p>
</article><!-- article -->