<article id="IntarsiaOnSocialMedia">
  <h1>Be a part of Intarsia</h1>
  <p>If you want to find out about our next product, when we organize an open house or when an exposition will take place, <a href="https://www.facebook.com/pages/Intarsia-Wood/451673361547494?fref=ts" target="_blank">join and like our FaceBook page</a>.</p>
</article><!-- article -->