<article id="services">
<h1> Our services: </h1>
<ul>
  <li> <i class="icon-circle"></i>Restoration of antiques and old furniture with or without inlaid marquetry.</li>
  <li>  <i class="icon-circle"></i>Post work on semi-finished and newly manufactured furniture and utensils.</li>
  <li> <i class="icon-circle"></i>A wide selection of gift items with inlaid marquetry.</li>
  <li> <i class="icon-circle"></i>Special requests, for example company logo.</li>
  <li> <i class="icon-circle"></i>Sales of precious wood veneer from stock.</li>
</ul>
</article>





