<article id="services">
<h1> Intarsia tilbyder: </h1>
<ul>
  <li> <i class="icon-circle"></i>Restaurering af antikviteter og gamle møbler med eller uden indlagt intarsia.</li>
  <li>  <i class="icon-circle"></i>Indlægsarbejde på halvfabrikata og nyproducerede møbler og brugsting.</li>
  <li> <i class="icon-circle"></i>Et bredt udvalg af gaveartikler med indlagt intarsia.</li>
  <li> <i class="icon-circle"></i>Specielle ønsker til motiv, f.eks. firmalogo el. lign. udføres.</li>
  <li> <i class="icon-circle"></i>Salg af ædeltræsfiner fra lager.</li>
</ul>
</article>





