<article id="whoarewe">
  <h1>Who are we?</h1>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec placerat arcu. Nullam a odio vitae ex pharetra malesuada a vel magna. Donec pretium augue non ante elementum auctor. Nullam sit amet suscipit mauris. Ut ultricies convallis tempus. Pellentesque id tincidunt quam. Morbi ultricies quam nisi, quis condimentum est consequat et. Nunc pellentesque nisi quis augue consequat fermentum. Ut venenatis leo sem, ut tincidunt elit efficitur eget.
</article><!-- article -->