<article id="whyIntarsia">
  <h1> Hvorfor Intarsia</h1>
  <img class="compHus" src="images/misc/intarsiaclock.jpg"/>
 <p> Intarsia er italiensk indlagt arbejde.
Håndværket har sin oprindelse i det gamle Egypten, hvor det har været brugt for 4-5000 år siden, og det er en af ​​de ældste håndværk .
Gennem tiderne, er intarsia hovedsageligt anvendt til dekoration af møbler og skibs saloner. Det bruges også til billeder og
dekorationer, for eksempel i døre og i gulve.
I fremstillingsprocessen har kun få ting kunnet lade sig modernisere, og derfor fremstilles det gamle kunsthåndværk stort set uændret.
Hovedvægten hos Intarsia ApS ligger på indlægsarbejde i træfiner, men der udføres også opgaver, med f.eks. messing, perlemor og ben.</p>
</article><!-- article -->