<article id="whyIntarsia">
  <h1>Why Intarsia</h1>
  <img class="compHus" src="images/misc/intarsiaclock.jpg"/>
 <p> Intarsia is Italian inlaid work.
Crafts has its origins in ancient Egypt, where it has been used for 4-5,000 years ago and it is one of the oldest crafts .

Throughout the ages, intarsia been used mainly for decoration of furniture and ship salons. But it is also used for tanning, pictures and decorations, for example doors and floors.

In the manufacturing process , few things could be modernized , and therefore made ​​the old crafts virtually unchanged.

The main emphasis of Intarsia Ltd. is a cross work in wood veneer, but also performed tasks , for example brass, mother of pearl and bone. </p>
</article><!-- article -->